@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html body {
    background-color: rgb(39, 39, 39);
    overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}


html body::-webkit-scrollbar {
    width: 14px;
}

html body::-webkit-scrollbar-thumb  {
    background: rgb(163, 163, 163);
    border: 3px solid rgb(39, 39, 39);
    border-radius: 10px;
}

html body::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131);
}

::selection {
    background: rgba(136, 79, 190, 0.89);
    color: rgba(255, 255, 255, 0.89);
}

.header {
    position: fixed;
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.logo-header {
    position: absolute;
    top: 17px;
    left: 60px;
    filter: saturate(1.2);
}

/*drawer*/

.icon-header {
    position: absolute;
    left: 10px;
    top: 22px;
    filter: invert();
    height: 28px;
    opacity: 75%;
    cursor: pointer;
}

.menu-drw {
    position: fixed;
    left: -190%;
    top: 0%;
    transition: 0.3s ease-in-out;
    z-index: 5;
    visibility: hidden;
    opacity: 0%;
}

.menu-slide {
    margin-right: 50px;
}


.fa-bars {
    position: absolute;
    top: 37%;
    margin-left: 90%;
    font-size: 23px;
    color: black;
    z-index: 5;
    cursor: pointer;
    visibility: hidden;
}

.fa-bars:active {
    color: rgba(0, 0, 0, 0.514);
}

@media (max-width:515px) {
    .fa-bars {
        margin-left: 86%;
    }
}

@media (max-width: 915px) {
    .fa-bars {visibility: visible;}
}


.menu-slide {
    position: absolute;
    top: -17px;
    right: -100px;
    height: 120vh;
    width: 280px;
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    border: solid 0.1px rgba(0, 0, 0, 0.250); 
}

.logo-nav {
    position: absolute;
    left: 147px;
    top: 32px;
    pointer-events: none;
}

.close-nav {
    position: absolute;
    left: 15px;
    top: 40px;
    opacity: 80%;
    cursor: pointer;
    border: 2px solid transparent;
    filter: invert(10);
    user-select: none;
}

.c {
    position: absolute;
     color: black;
     transform: scale(1.20);
     cursor: pointer;
}

.options {
    text-align: start;
    list-style: none;
    position: absolute;
    left: -200px;
    top: 85px;
    font-size: 18px;
}

.list {
    width: 400%;
    line-height: 40px;
    margin-left: 200px;
    height: 40px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.list:hover {
    background-color: rgb(59, 59, 59);
}

.text {
    position: relative;
    left: 5.6%;
    font-weight: lighter;
    font-size: 14px;
}

.fa-li {
    position: absolute;
    margin-top: 5px;
    right: 19%;
}

.fa-li svg {
    height: 21px;
}

.logo_of_nav {
    position: absolute;
    left: 95px;
    top: 41px;
    pointer-events: none;
    user-select: none;
}

/*drawer*/


.search-header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 3px;
}

.search-element {
    margin-left: 91%;
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 40px;
    background-color: rgb(104, 104, 104);
}

.search-header-icon {
    filter: invert();
    opacity: 70%;
    margin-left: 3px;
    margin-top: 12px;
}

input {
    border-radius: 2px;
    border-color: rgba(53, 53, 53);
    border-width: -1px;
    border-style: solid;
    width: 23rem;
    height: 32px;
	padding: 5px;
    font-style: normal;
    color: #ffffffe1;
    background-color: rgb(53, 53, 53);
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 2px;
}

input:focus {
    outline: 0;
    border-color: rgba(136, 79, 190, 0.89);
    transition: .3s;
    color: rgb(255, 255, 255);
}

input::placeholder {
    font-style: italic;
    color: rgb(119, 119, 119);
}

.welcome-header {
    position: absolute;
    top: 25px;
    margin-left: 80%;
    margin-right: 0px;
    color: aliceblue;
    width: 950px;
    display: inline-flex;
}

.welcome-login {
    position: relative;
    left: 95px;
    padding-left: 5px;
}

.welcome-header a {
    text-decoration: none;
    color: white;
    width: 0px;
}

.welcome-header a:hover {
    opacity: 70%;
}

.welcome-mobile {
    display: none;
    filter: invert();
    position: absolute;
    top: 20px;
    margin-left: 87%;
    opacity: 75%;
}

@media (max-width:820px) {
    input {
        width: 16rem;
    }
    .search-header {
        left: 53%;
    }
    .search-element {
    left: -5%;
    }
}

@media (max-width:750px) {
    .welcome-header {
        display: none;
    }

    .welcome-mobile {
        display: block;
    }
}

@media (max-width:685px ) {
    .header {
        background-color: rgb(27, 27, 27);
        width: 100%;
        height: 85px;
    }

    .search-header {
        top: 46px;
        left: 49%;
        overflow: visible;
    }

    input {
        width: 35vh;
       
        margin-right: 4px;
    }
    
    .search-element {
        left: -0.3rem;
        border-radius: 0px 03px 03px 0px;
        height: 32px;
        width: 32px;
    }

    .search-header-icon {
        margin-top: 5px;
    }

    .logo-header {
        position: absolute;
        left: 49%;
        top: 10px;
        transform: translateX(-50%);
    }

    .logo-header-img {
        height: 30px;
    }

    .icon-header {
        top: 31px;
    }

    .welcome-mobile {
        top: 30px;
        margin-left: 90%;
    }

}

@media (max-width:380px) {
    input {
        width: 15rem;
        height: 29px;
    }

    .search-element {
        height: 29px;
    }
}

@media (max-width:335px) {
    input {
        width: 12rem;
    }
}

